# You can specify the following configurations: Release, Debug.
msbuild-configuration = Release

# You can specify the following verbosity levels: q[uiet], m[inimal], n[ormal], d[etailed], and diag[nostic].
msbuild-verbosity = minimal